/*h1 {
  margin-bottom: 30px;
}*/

/*input[type="text"] {
  width: 200px;
  float: left;
}*/

/*.narrow-button {
  float: left;
  margin-left: 10px;
}*/
/*
.loader {
  display: block;
  margin-left: 5px;
  font-size: 10px;
  float: left;
  border-top: 1.1em solid rgba(147, 147, 147, 0.2);
  border-right: 1.1em solid rgba(147, 147, 147, 0.2);
  border-bottom: 1.1em solid rgba(147, 147, 147, 0.2);
  border-left: 1.1em solid #676767;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/

h1 {
  text-transform: uppercase;
  font-family: 'Ceviche One', cursive;
  font-size: 70px;
}

.menu-item {
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.wrap {
  margin-top: 10px;
}
.t-row-wrap {
  margin: 5px;
}
.t-row {
  display: table;
  table-layout: fixed;
  width: 70%;
  border-spacing: 5px;
  height: auto;
  margin-top: 5px;
}
.t-row-cell {
  display: table-cell;
  vertical-align: top;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #0E0E0C;

  background: url('../images/great-wall-of-china.jpg') no-repeat center scroll;
  background-color: @dark;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-header {
  margin-top: 0;
}

.form-control-btn {
  width: 40%;
  height: auto;
  margin-top: 10px;
  padding: 5px;
  font-size: 10px;
}

.intro-z {
  margin-top: 100px;
  /*width: 100%;
  vertical-align: middle;*/
}

p.shift-right {
    margin: 0 0 10px;
    padding-top: -10px;
    padding-left: 180px;
    font-family: 'Ceviche One', cursive;
    font-size: 12px;
}

img.shift-center {
    width: 50%;
}

.page-header {
  text-align: center;
}

.pretty-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 10px;
  color: #090909;
}

.heart {
  color: #cd3434;
}

.footer {
  font-size: 10px;
}
